BADM550 Business Practicum/CNeutral/
BADM554 Enterprise Database Management/Mini Project/
BADM557 Business Intelligence/Final Project/
BDI513 Data Storytelling/Group Project/
FIN553 Machine Learning in Finance/Project/

